@charset "UTF-8";
.cf:before, .Timeline-item-top:before, .Timeline-item:before,
.cf:after,
.Timeline-item-top:after,
.Timeline-item:after {
  content: " ";
  display: table;
}

P {font-size: 15px;}

.cf:after, .Timeline-item-top:after, .Timeline-item:after {
  clear: both;
}
.cf, .Timeline-item-top, .Timeline-item {
  *zoom: 1;
}

body {
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  color: #3D2400;
	font-family: "source-sans-pro"
}

.Timeline {
  width: 840px;
  margin: 0 auto;
  position: relative;
}
.Timeline-line {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  padding-left: 20px;
}
.Timeline-line:after {
  content: "";
  position: absolute;
  border-left: 3px solid #266266;
  height: 93.5%;
}
.Timeline-line.is-active .Timeline-line-menu {
  opacity: 1;
}
.Timeline.is-dragging .Timeline-item-inner {
  margin: 0;
  opacity: 0.7;
}
.Timeline-item {
  width: 100%;
  position: relative;
  z-index: 90;
}
.Timeline-item-inner {
  position: relative;
  margin-bottom: 40px;
  width: 345px;
  border: 2px solid #266277;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.3s ease;
  margin: -10px 0 -20px;
}
.Timeline-item-inner:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -78px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #266277;
  width: 12px;
  height: 12px;
}

.Timeline-item:hover {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.Timeline-item:hover:after {
  border-left-color: #266277;
}
.Timeline-item:hover .Timeline-item-inner {
  border-color: #F4F4F4;
}
.Timeline-item:hover .Timeline-item-inner:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #999;
  border-top: 8px solid transparent;
}
.Timeline-item:hover .Timeline-item-top-tools {
  opacity: 1;
}
.Timeline-item:nth-child(odd) {
  margin-left: 50%;
  padding-left: 68px;
  width: 50%;
}
.Timeline-item:nth-child(odd):hover .Timeline-item-inner:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #999;
  border-top: 8px solid transparent;
}
.Timeline-item:nth-child(odd) .Timeline-item-inner:before {
  right: auto;
  left: -77px;
}
.Timeline-item:nth-child(odd) .Timeline-item-inner:after {
  height: 0;
  width: 0;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #930406;
  border-top: 8px solid transparent;
  border-left: 0;
  right: auto;
  left: -9px;
}
.Timeline-item:nth-child(odd) .Timeline-item-index {
  opacity: 0.6;
  left: -45px;
  right: auto;
}
.Timeline-item.is-dropping {
  cursor: -webkit-grabbing;
}
.Timeline-item-index {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  color: #c9c9c9;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 200;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Timeline-item--image .Timeline-item-content-body img {
  max-width: 100%;
  margin-top: 5px;
}
.Timeline-item-top {
  padding: 10px 15px;
}
.Timeline-item-top:hover {
  cursor: move;
  cursor: -webkit-grab;
}
.Timeline-item-top-type {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-size: 1.1rem;
}
.Timeline-item-top-type i {
  font-size: 16px;
  font-size: 1.6rem;
}
.Timeline-item-top-type span {
  margin-left: 10px;
}
.Timeline-item-content {
  padding: 10px 20px 20px;
  text-align: left;
}
.Timeline-item-content-title {
  font-size: 18px;
  font-size: 1.8rem;
}
.Timeline-item-content-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 135px;
  width: 341px;
  margin-top: 10px;
  margin-left: -20px;
}
.Timeline-item-content-body {
  position: relative;
}
.Timeline-item-content-body:empty {
  display: none;
}