* {
  box-sizing: border-box;
}

body {background-image: url("background.png");
      background-repeat: repeat;}

header {width: 1500px; 
        height: 370px;}

article {background-image: url("pado.png");
      background-repeat: repeat-x;
	  background-position: top center;
	  width: 1500px; 
      height: 500px;
	  background-color:azure;
	  z-index: auto;
}
footer {
	background-position: top center;
	background-color: azure;
	width: 1500px;
	height: 600px;
}
#water {float:right;
	    margin-top: -20px;
        margin-right:630px;
}
   #container {text-align: center;
               width: 1500px;
               height: auto;
                margin-top:70px;
                font-size: 15px;}
   #logo {
	float: left;
	margin-left: 700px;
	margin-top: 50px;
}
   #dol {float: right;
         margin-right: 370px;
         margin-top: -400px;}

   #sign {float: right;
          margin-top:-250px;
          margin-right: 1150px;}
   
#umb { float:right;
	   margin-top: -400px;
	   margin-right: 200px;
}
   #orange  {float: left;
	         margin-left: 950px;
              margin-top:-130px;}

   #orange2  {float: left;
             margin-left: 100px;
              margin-top:-200px;}

   #orange3 {float: left;
             margin-left: 630px;}

    #img1     {float:left;
              padding-top: 120px;
               margin-left: 120px;
}

    #box1 {float:left;
		   margin-left: 80px;
             padding-top: 250px;
             font-family: sans-serif;}

    #box2 {float:left;
		   text-align: right;
             margin-left: 150px;
             padding-top: 250px;
             font-family: sans-serif;}

    bottom {clear: both;
		    height: 150px;
             margin-top: 50px;
             font-family: sans-serif;
             text-align: center;
             font-size: 15pt;
             color: white;}

   #left {float: left;
          margin-top: 300px;}

   #right {float: right;
           margin-top: 300px;}


    h1 {text-align: center;
        font-family: sans-serif;}
    
p { color:#333
	
}

h5{
	color:black;
}
.allow {background-color:darkcyan;
}
