@charset "UTF-8";  
.img_box {align-content: center;
          margin-top: 20px;
          float: left;
          margin-left: -10px;
        position: relative;
        animation: fadeInUp 1s;}

body {padding: 40px;
      width: auto;}

#clearbox {clear:left;
           content: ""}

#orange1 {text-align: left;
            float:left;}


#mandarin {text-align: right;
              float: right;
            margin-right:35px;}

p{color: white;
  font-family: sans-serif;}
	  	  
h1 {font-size: 35px;
    color: orange;}

@keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
