@charset "UTF-8";  
.img_box {align-content: center;
          margin-top: -10px;
          float: left;
          margin-left: -180px;}

body {padding: 40px;
      width: auto;}

#clearbox {clear:left;
           content: ""}

#orange1 {text-align: left;
            float:left;}


#mandarin {text-align: right;
              float: right;
            margin-right:35px;}

p{color: white;}
	  	  
h1 {font-size: 35px;
    color: orange;}
